* {
	box-sizing: border-box;
}

:root {
	--red--btn: red;
}

.clear-red-btn {
	color: var(--red--btn);
}

html {
	font-size: 10px;
}

body {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: darkslategray;
	height: 150vh;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: 500px;
	height: 800px;
	background-color: bisque;
	border-radius: 5px;
	padding: 25px;
}

.frame {
	border: 1px solid grey;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/* Header Section */
.header {
	display: flex;
	align-items: flex-start;
}

.header-title {
	flex: 1;
	text-align: center;
	font-size: 4.6rem;
	font-family: "Yellowtail", sans-serif;
}

.header-btn {
	font-size: 2rem;
	font-family: "Saira Stencil One", sans-serif;
	padding: 16px;
	background: unset;
	border: unset;
	outline: unset;
	cursor: pointer;
}
/* Form Section */
.add {
	padding: 16px;
}

.add-form {
	display: flex;
	align-items: flex-start;
}

.add-input {
	background: unset;
	border: unset;
	padding: 0 64px;

	flex: 1;

	border-bottom: 1px solid var(--red--btn);
	outline: unset;

	font-family: "Yellowtail", sans-serif;
	font-size: 16px;
}

.add-btn {
	font-size: 2rem;
	font-family: "Saira Stencil One", sans-serif;

	padding: 0 16px;
	padding-right: unset;
	cursor: pointer;

	background: unset;
	border: unset;
	outline: unset;
}
/* Todos Section */
.todos {
	display: flex;
	flex-direction: column;

	min-height: 500px;
}

.todo {
	position: relative;

	flex: 1 0 auto;
	text-align: center;

	max-height: 34px;
	margin: 16px 0 0;
	font-family: "Yellowtail", sans-serif;
	font-size: 2.4rem;

	border-bottom: 1px solid var(--red--btn);
}

.todo-text {
	width: 100%;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
